.andy-qiuqiudajiale {
    box-sizing: border-box;
    overflow: hidden;
}

.andy-qiuqiudajiale img {
    width: 45%;
    max-width: 240px;
}

.andy-yourdeviceinfo {
    box-sizing: border-box;    
    border: 1px solid #ccc;
    padding: 15px;
}

.andy-yourdeviceinfo-item {
    margin-bottom: 10px;
}

.andy-yourdeviceinfo-item__value {
    display: block;
}

@media screen and (min-width: 481px) {
    .andy-qiuqiudajiale img:nth-child(2) {
        margin-left: 30px;
    }    
}

@media screen and (max-width: 480px) {
    .andy-qiuqiudajiale .layout {
        justify-content: space-between;
    }
}


main {
    width: 1020px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    main {
        width: 100%;
    }
}